* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-image: url(../img/Mountains.jpg);
    background-color: #225686;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 2rem;
    font-weight: bold;
}
header{
    display: flex;
    width: 100vw;
    height: fit-content;
}
nav{
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.8);
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: gray;
}
nav p{
    background-color: #225686;
    padding: 1rem;
    border-radius: 50px;
    color: white;
}
nav p a{
    text-decoration: none;
    color: white;
}
.main{
    display: flex;
    margin: 2rem;
    gap: 1rem;
}
.filter{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.8);
}
.equipment_list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(255, 255, 255, 0.8);
}
.item_to_rent{
    display: flex;
    justify-content: space-between;
}
.item_img_wrapper{
    display: flex;
    width: 100px;
    padding: 1rem;
}
.item_img_wrapper img{
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}